{% extends 'gesstock/base.html' %}
{% block content %}
<div class="form-container">
    <h2>Modifier un Produit</h2>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="nom" value="{{produit.nom}}" required>
        <select name="categorie" >
            <option value="{{produit.categorie.id}}">{{produit.categorie}}</option>
            {% for categorie in categories %}
                <option value="{{categorie.id}}">{{categorie.nom}}</option>
            {% endfor %}
                
        </select>
        <input type="number" name="prix_achat" value="{{produit.prix_achat}}">
        <input type="number" name="prix_vente" value="{{produit.prix_vente}}">
        <input type="number" name="seuil_min" value="{{produit.seuil_min}}">
        <input type="number" name="seuil_max" value="{{produit.seuil_max}}">
        <input type="number" name="stock_actuel" value="{{produit.stock_actuel}}">
        <button type="submit">Enregistrer</button>
    </form>
    <br>
    <a href="{% url 'liste_produits' %}">Retour</a>
</div>
{% endblock content%}