{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GesStock - Tableau de bord</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/client.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ajouter_client.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fournisseur.css' %}" />
    <link rel="stylesheet" href="{% static 'css/supprimer_fournisseur.css' %}" />
    {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" /> {% endcomment %}
  </head>

  <body>
    <!-- ======== SIDEBAR ======== -->
    <div class="sidebar" id="sidebar">
      <div class="logo">
        <i class="fa-solid fa-cubes"></i> Stock
      </div>
      <ul>
        <li data-page="dashboard">
          <i class="fa fa-home"></i><span><a href="{% url 'dashboard' %}">Tableau de bord</a></span>
        </li>
        <li data-page="produits">
          <i class="fa fa-box"></i><span><a href="{% url 'liste_produits' %}">Produits</a></span>
        </li>
        <li data-page="stocks">
          <i class="fa fa-warehouse"></i><span><a href="{% url 'liste_mouvements' %}">Stocks</a></span>
        </li>
        <li data-page="rapports">
          <i class="fa fa-file-alt"></i><a href="{% url 'liste_rapports' %}">Rapports</a><span></span>
        </li>
        <li data-page="clients">
          <i class="fa fa-user"></i><span><a href="{% url 'liste_clients' %}">Clients</a></span>
        </li>
        <li data-page="fournisseurs">
          <i class="fa fa-truck"></i><span><a href="{% url 'liste_fournisseurs' %}">Fournisseurs</a></span>
        </li>
        {% comment %} <li data-page="stats">
          <i class="fa fa-chart-line"></i><span>Statistiques</span>
        </li> {% endcomment %}
        <li data-page="utilisateurs">
          <i class="fa fa-users"></i><span><a href="{% url 'liste_utilisateurs' %}">Utilisateurs</a></span>
        </li>
        {% comment %} <li data-page="parametres">
          <i class="fa fa-cog"></i><span>Paramètres</span>
        </li> {% endcomment %}
      </ul>
    </div>

    <!-- ======== HEADER ======== -->
    <header>
      <i class="fa fa-bars menu-toggle" id="menuToggle"></i>
      <div class="user-profile" id="userProfile">
        <img src="https://i.pravatar.cc/150?img=12" alt="User" />
        <span class="name">Admin</span>
        <div class="dropdown" id="dropdownMenu">
          <a href="{% url 'profil_utilisateur' %}">Profil</a>
          <a href="{% url 'deconnexion_utilisateur' %}">Déconnexion</a>
        </div>
      </div>
    </header>

    <!-- ======== MAIN CONTENT ======== -->
    <main>
      <div class="content" id="mainContent">
        {% block content %}

        {% endblock content %}
      </div>
    </main>
    <script src="{% static 'js/base.js' %}"></script>
  </body>
</html>
