<div class="sidebar" id="sidebar">
    <div class="logo"><i class="fa-solid fa-cubes"></i> Stock</div>
    <ul>
      <li data-page="dashboard"><i class="fa fa-home"></i><span>Tableau de bord</span></li>
      <li data-page="produits"><i class="fa fa-box"></i><span>Produits</span></li>
      <li data-page="utilisateurs"><i class="fa fa-users"></i><span>Utilisateurs</span></li>
      <li data-page="clients"><i class="fa fa-user"></i><span>Clients</span></li>
      <li data-page="fournisseurs"><i class="fa fa-truck"></i><span>Fournisseurs</span></li>
      <li data-page="stocks"><i class="fa fa-warehouse"></i><span>Stocks</span></li>
      <li data-page="rapports"><i class="fa fa-file-alt"></i><span>Rapports</span></li>
      <li data-page="stats"><i class="fa fa-chart-line"></i><span>Statistiques</span></li>
      <li data-page="parametres"><i class="fa fa-cog"></i><span>Paramètres</span></li>
    </ul>
  </div>