{% extends 'gesstock/base.html' %}
{% block content %}

<div class="container">
<h2>Ajouter un utilisateur</h2>

<form method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Nom d'utilisateur" required>
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Mot de passe" required>

    <select name="role">
        <option value="ADMIN">Administrateur</option>
        <option value="GESTIONNAIRE">Gestionnaire</option>
        <option value="UTILISATEUR">Utilisateur simple</option>
    </select>

    <button type="submit">Enregistrer</button>
</form>
</div>

{% endblock content %}