{% extends 'gesstock/base.html' %}

{% block content %}
  <div class="container">
    <h2>Liste des Utilisateurs</h2>

    <div class="top-buttons">
      <a href="{% url 'ajouter_fournisseur' %}" class="btn btn-add">+ Ajouter Utilisateur</a>
    </div>

    <div class="search-box">
      <input 
        type="text"
        id="searchInput"
        placeholder="🔍 Rechercher un produit..."
      >
    </div>

    <table class="table" id="utilisateursTable">
      <tr>
            <th>Nom d’utilisateur</th>
            <th>Email</th>
            <th>Rôle</th>
            <th>Actions</th>
        </tr>

      {% for utilisateur in utilisateurs %}
        <tr>
          <td>{{ utilisateur.username }}</td>
          <td>{{ utilisateur.email }}</td>
          <td>{{ utilisateur.get_role_display }}</td>
          <td>
            <a class="btn btn-edit" href="{% url 'modifier_utilisateur' utilisateur.id %}">Modifier</a>
            <a class="btn btn-delete" href="{% url 'supprimer_utilisateur' utilisateur.id %}">Supprimer</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">Aucun Utilisateur trouvé</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <script>
    const searchInput = document.getElementById('searchInput');
    const table = document.getElementById('utilisateursTable');
    const rows = table.getElementsByTagName('tr');

    searchInput.addEventListener('keyup', function () {
      const filter = searchInput.value.toLowerCase();

      for (let i = 1; i < rows.length; i++) {
        const rowText = rows[i].innerText.toLowerCase();
        rows[i].style.display = rowText.includes(filter) ? '' : 'none';
      }
    });
  </script>
{% endblock %}
