{% extends 'gesstock/base.html' %}

{% block content %}

    <div class="form-container">
        <h2>Modifier un Utilisateur</h2>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" value="{{user.username}}" required>
            <input type="email" name="email" value="{{user.email}}" required>
            <select name="role">
                <option value="ADMIN" 
                {% if utilisateur.role == 'ADMIN' %}
                selected
                {% endif %}
                    >Administrateur</option>
                <option value="GESTIONNAIRE" 
                {% if utilisateur.role == 'GESTIONNAIRE' %}
                selected
                {% endif %}
                    >Gestionnaire</option>
                <option value="UTILISATEUR" 
                {% if utilisateur.role == 'UTILISATEUR' %}
                selected
                {% endif %}
                    >Utilisateur simple</option>
            </select>
            <button type="submit">Enregistrer</button>
        </form>
        <br>
        <a href="{% url 'liste_utilisateurs' %}">Retour</a>
    </div>

{% endblock content %}

