{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Mon Profil</title>
<link rel="stylesheet" href="{% static 'css/utilisateur.css' %}">
</head>
<body>

<div class="container">
<h2>Profil utilisateur</h2>

<form method="post">
    {% csrf_token %}
    <input type="text" value="{{ utilisateur.username }}" disabled>
    <input type="text" name="first_name" value="{{ utilisateur.first_name }}" placeholder="Prénom">
    <input type="text" name="last_name" value="{{ utilisateur.last_name }}" placeholder="Nom">
    <input type="email" name="email" value="{{ utilisateur.email }}" placeholder="Email">
    <input type="password" name="password" placeholder="Changer mot de passe">
    <button type="submit">Mettre à jour</button>
</form>

</div>

</body>
</html>
