{% extends 'gesstock/base.html' %}

{% block content %}
<div class="container">

  <h1>{{ titre }}</h1>

  <!-- Section : tous les produits -->
  <h2>Tous les produits</h2><br>
  <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Catégorie</th>
        <th>Seuil min</th>
        <th>Stock actuel</th>
        <th>Seuil max</th>
      </tr>
    </thead>
    <tbody>
      {% for produit in produits %}
        <tr
          {% if produit in ruptures %}
          
          {% comment %}
            rouge clair pour rupture
          {% endcomment %}
            
            style="background-color:#ffcccc;"  
          {% elif produit in surstocks %}
          
          {% comment %}
            jaune clair pour surstock
          {% endcomment %}
            
            style="background-color:#fff0b3;" 
          {% endif %}
        >
          <td>{{ produit.nom }}</td>
          <td>{{ produit.categorie.nom }}</td>
          <td>{{ produit.seuil_min }}</td>
          <td>{{ produit.stock_actuel }}</td>
          <td>{{ produit.seuil_max }}</td>
        </tr>
      {% empty %}
        <tr><td colspan="5">Aucun produit enregistré.</td></tr>
      {% endfor %}
    </tbody>
  </table>

  {% endblock content %}