{% extends 'gesstock/base.html' %}
{% block content %}
  <div class="form-container">
    <h2>Modifier un Stock</h2>
    <form method="post">
      {% csrf_token %}
      <select name="produit">
        {% comment %} <option value="">--Veuillez choisir un produit--</option> {% endcomment %}
        {% for produit in produits %}
          <option value="{{ produit.id }}" 
          {% if produit.id == mouvement.produit.id %}
            selected
          {% endif %}
            >{{ produit.nom }}</option>
        {% endfor %}
      </select>

      {% if mouvement.type_mouvement == 'ENTREE' %}
        <select name="fournisseur">
          {% comment %} <option value="">--Veuillez choisir un fournisseur--</option> {% endcomment %}
          {% for fournisseur in fournisseurs %}
            <option value="{{ fournisseur.id }}" 
            {% if fournisseur.id == mouvement.fournisseur.id %}
              
            {% endif %}
              >{{ fournisseur.nom }}</option>
          {% endfor %}
        </select>
      {% else %}
        <select name="client">
          {% comment %} <option value="">--Veuillez choisir un client--</option> {% endcomment %}
          {% for client in clients %}
            <option value="{{ client.id }}" 
            {% if client.id == mouvement.client.id %}
            selected
            {% endif %}
              >{{ client.nom }}</option>
          {% endfor %}
        </select>
      {% endif %}

      <input type="number" name="quantite" value="{{ mouvement.quantite }}" />
      <textarea name="commentaire">{{ mouvement.commentaire }}</textarea>
      <button type="submit">Modifier</button>
    </form>
    <br />
    <a href="{% url 'liste_mouvements' %}">Retour</a>
  </div>
{% endblock %}
