{% extends 'gesstock/base.html' %}

{% block content %}
  {% comment %} <div class="container"> {% endcomment %}
    <h2>Liste des Clients</h2>

    <div class="top-buttons">
      <a href="{% url 'ajouter_client' %}" class="btn btn-add">+ Ajouter Client</a>
    </div>

    <table class="table">
      <tr>
        <th>Nom</th>
        <th>Contact</th>
        <th>Adresse</th>
        {% comment %} <th>Email</th> {% endcomment %}
        <th>Actions</th>
      </tr>
      {% for client in page_obj %}
        <tr>
          <td>{{ client.nom }}</td>
          <td>{{ client.contact }}</td>
          <td>{{ client.adresse }}</td>
          {% comment %} <td>{{ client.email }}</td> {% endcomment %}
          <td>
            <a class="btn btn-edit" href="{% url 'modifier_client' client.id %}">Modifier</a>
            <a class="btn btn-delete" href="{% url 'supprimer_client' client.id %}">Supprimer</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">Aucun client trouvé</td>
        </tr>
      {% endfor %}
    </table>
    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1">Premier</a>
          <a href="?page={{ page_obj.previous_page_number }}">Précédent</a>
        {% endif %}

        <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">Suivante</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">Dernier</a>
        {% endif %}
      </span>
    </div>
  {% comment %} </div> {% endcomment %}
{% endblock %}
